---
import portfolio from '../data/portfolio.json';

const { about } = portfolio.dataPortfolio;
---
<section class="mb-3">
    <p class="text-slate-700 dark:text-neutral-300 font-normal text-xl lg:text-lg">
        {about.description}
    </p>
</section>