<section class="p-3 mb-12">
    <p class="text-slate-700 dark:text-neutral-300 font-normal text-xl">
        Soy <span class="font-semibold">Ingeniero en Informática</span> especializado en <span class="font-semibold">desarrollo web</span> 
        con <span class="font-semibold">Angular</span> y <span class="font-semibold">Bootstrap</span>,creando interfaces atractivas y responsivas. 
        También disfruto del <span class="font-semibold">diseño UI</span>,utilizando <span class="font-semibold">Penpot</span> para prototipar y validar ideas. 
        Mi objetivo es seguir creciendo profesionalmente y contribuir a <span class="font-semibold">productos digitales</span> innovadores.
    </p>
</section>