<section class="p-3 mb-12">
    <h2 class="text-slate-700 dark:text-neutral-300 text-4xl font-bold mb-5">Contacto</h2>
    <article class="flex justify-around bg-slate-100 dark:bg-neutral-800 dark:border-neutral-900 
        border border-slate-200 rounded-lg">
        <a class="flex justify-center py-3" href="mailto:candidohm99@gmail.com">
            <img class="w-10" src="/icon-email.svg" alt="link-email">
        </a>
        <a class="flex justify-center py-3" href="https://www.linkedin.com/in/candido-hernandez-martin/" target="_blank">
            <img class="w-10" src="/icon-linkedin.svg" alt="link-linkedin">
        </a>
        <a class="flex justify-center py-3" href="https://github.com/Candido-HM" target="_blank">
            <img class="w-10" src="/icon-github.svg" alt="link-github">
        </a>
    </article> 
</section>