<section class="p-3 mb-12">
    <h2 class="text-slate-700 text-4xl font-bold mb-5">Experiencia Laboral</h2>
    <article class="bg-slate-100 border border-slate-200 rounded-lg">
        <div class="p-3">
            <header class="flex justify-between mb-3">
                <h3 class="text-slate-600 text-xl font-semibold">Página Web Asbombeo</h3>
                <span class="text-slate-500 text-lg font-medium">
                    Agosto 2021 - Enero 2022
                </span>
            </header>
            <main class="mb-1">
                <h4 class="text-sky-400 text-lg font-medium">Corporativo Grupo Ríos S.A. de C.V.</h4>
                <p class="text-slate-600 text-base font-normal">
                    Actualización del sistema web con HTML 5, Bootstrap, JQuery, librería de datatables, PHP y SQL Server.
                    Creación de formatos PDF con la libreria HMTL2PDF.
                    Actualización de la página oficial con el sistema de gestión de contenido WordPress y plugins: Elementor, Slider Revolution y Contact Form.
                </p>
            </main>
        </div>
    </article>
</section>