<section id="formacion" data-section="formacion" class="p-5 sm:p-3 mb-20">
    <h2 class="text-slate-700 dark:text-neutral-300 text-4xl font-bold mb-5">Formación</h2>
    <article class="bg-slate-100 border border-slate-200
        dark:bg-neutral-800 dark:border-neutral-900 rounded-lg p-3">
        <div class="mb-3">
            <header class="flex justify-between mb-3">
                <h3 class="text-slate-600 dark:text-neutral-300 
                text-xl font-semibold">Ingeniería informática</h3>
                <span class="text-slate-500 dark:text-neutral-400 text-lg font-medium">
                    Agosto 2017 - Mayo 2022
                </span>
            </header>
            <main class="mb-1">
                <h4 class="text-sky-500 text-lg font-medium">Instituto Tecnológico Superior de Zacapoaxtla</h4>
                <p class="text-slate-600 dark:text-neutral-300 text-base font-normal">
                    Durante mi formación por esta institución educativa, participé en la fase de diseño de un proyecto para optimizar
                    los procesos internos, proponiendo un sistema de control de acceso basado en torniquetes y credenciales
                    inteligentes. Además, llevé a cabo la implementación de un prototipo de sistema de seguridad, demostrando mi
                    capacidad para trabajar con tecnologías IoT.
                </p>
            </main>
        </div>
        <div>

        </div>
        <hr class="border-slate-400 dark:border-neutral-600">
        <div class="py-3">
            <header class="flex justify-between mb-3">
                <h3 class="text-slate-600 dark:text-neutral-300 text-xl font-semibold">
                    Cursos
                </h3>
                <span class="text-sky-500 text-lg font-medium">
                    Udemy
                </span>
            </header>
            <main class="mb-1">
                <div class="flex justify-between my-1">
                    <p class="text-base font-medium text-slate-600 dark:text-neutral-300">
                        Angular: De cero a experto (Legacy)
                    </p>
                    <!-- <span class="bg-slate-50 dark:bg-neutral-900 text-sm 
                        font-normal text-slate-500 dark:text-neutral-300 px-3 rounded-full">
                        Cursando
                    </span> -->
                </div>
                <div class="flex justify-between my-1">
                    <p class="text-base font-medium text-slate-600 dark:text-neutral-300">
                        Máster en JavaScript: AprenderJs, jQuery, Angular, NodeJS
                    </p>
                    <!-- <span class="bg-slate-50 dark:bg-neutral-900 text-sm 
                        font-normal text-slate-500 dark:text-neutral-300 px-3 rounded-full">
                        Finalizado
                    </span> -->
                </div>
                <div class="flex justify-between my-1">
                    <p class="text-base font-medium text-slate-600 dark:text-neutral-300">
                        Máster en CSS: Responsive,SASS, Flexbox, Grid y Bootstrap
                    </p>
                    <!-- <span class="bg-slate-50 dark:bg-neutral-900 text-sm 
                        font-normal text-slate-500 dark:text-neutral-300 px-3 rounded-full">
                        Finalizado
                    </span> -->
                </div>
            </main>
        </div>
    </article> 
</section>