<section class="p-3 mb-12">
    <h2 class="text-slate-700 text-4xl font-bold mb-5">Formación</h2>
    <article class="bg-slate-100 border border-slate-200 rounded-lg p-3">
        <div class="mb-3">
            <header class="flex justify-between mb-3">
                <h3 class="text-slate-600 text-xl font-semibold">Ingeniería informática</h3>
                <span class="text-slate-500 text-lg font-medium">
                    Agosto 2017 - Mayo 2022
                </span>
            </header>
            <main class="mb-1">
                <h4 class="text-sky-400 text-lg font-medium">Instituto Tecnológico Superior de Zacapoaxtla</h4>
                <p class="text-slate-600 text-base font-normal">
                    Durante mi formación por esta institución educativa, participé en la fase de diseño de un proyecto para optimizar
                    los procesos internos, proponiendo un sistema de control de acceso basado en torniquetes y credenciales
                    inteligentes. Además, llevé a cabo la implementación de un prototipo de sistema de seguridad, demostrando mi
                    capacidad para trabajar con tecnologías IoT.
                </p>
            </main>
        </div>
        <div>

        </div>
        <hr class="border-slate-400">
        <div class="py-3">
            <header class="flex justify-between mb-3">
                <h3 class="text-slate-600 text-xl font-semibold">Cursos</h3>
                <span class="text-slate-500 text-lg font-medium">
                    Udemy
                </span>
            </header>
            <main class="mb-1">
                <span>
                    <p>Angular: De cero a experto (Legacy)</p>
                </span>
                <span>
                    Máster en JavaScript: AprenderJs, jQuery, Angular, NodeJS
                </span>
                <span>
                    Máster en CSS: Responsive,SASS, Flexbox, Grid y Bootstrap
                </span>
            </main>
        </div>
    </article> 
</section>