---
import ThemeToggle from "./ThemeToggle.astro";
---
<header class="w-full sm:w-3/4 max-w-screen-lg h-auto py-2 mb-8">
    <nav class="w-auto h-12 my-3 flex items-center justify-evenly
         bg-zinc-50 border border-zinc-200 rounded-lg
         dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300">
        <div class="flex">
            <a href="#">
                <img class="w-12" src="/favicon.svg" alt="icon">
            </a>
        </div>
        <div class="flex">
            <a class="flex flex-row" href="#">
                <img class="w-5" src="/icon-nav/icon-home.svg" alt="home">
                <span class="hidden sm:block ml-1">Sobre mi</span>
            </a>
        </div>
        <div class="flex">
            <a class="flex flex-row" href="#">
                <img class="w-5" src="/icon-nav/business-nav.svg" alt="experiencia">
                <span class="hidden sm:block ml-1">Experiencia</span>
            </a>
        </div>
        <div class="flex">
            <a class="flex flex-row" href="#">
                <img class="w-5" src="/icon-nav/graduation-nav.svg" alt="formacion">
                <span class="hidden sm:block ml-1">Formación</span>
            </a>
        </div>
        <div class="flex">
            <a class="flex flex-row" href="#">
                <img class="w-5" src="/icon-nav/address-nav.svg" alt="contacto">
                <span class="hidden sm:block ml-1">Contacto</span>
            </a>
        </div>
        <ThemeToggle /> 
        <!-- <div class="flex h-full"> -->
            <!-- <button id="theme-toggle" class="flex">
                <img class="w-7" src="/icon-light.svg" alt="LightMode"> 
            </button> -->
        <!-- </div> -->
    </nav>
</header> 

<style>
    #theme-toggle {
        border: 0;
        background-color: none;
    }
    .sun {
        background-image: url('/icon-light.svg');
    }
    .moon {
        background-image: url('/icon-dark.svg');
    }
</style>