<header class="w-full sm:w-3/4 max-w-screen-lg h-auto py-2 mb-8">
    <nav class="w-auto h-12 my-3 flex items-center justify-evenly
         bg-zinc-50 border border-zinc-200 rounded-lg">
        <div class="flex">
            <img class="w-5" src="/icon-nav/icon-home.svg" alt="home">
            <a class="hidden sm:block ml-1" href="#">Sobre mi</a>
        </div>
        <div class="flex">
            <img class="w-5" src="/icon-nav/business-nav.svg" alt="experiencia">
            <a class="hidden sm:block ml-1" href="#">Experiencia</a>
        </div>
        <div class="flex">
            <img class="w-5" src="/icon-nav/graduation-nav.svg" alt="formacion">
            <a class="hidden sm:block ml-1" href="#">Formación</a>
        </div>
        <div class="flex">
            <img class="w-5" src="/icon-nav/address-nav.svg" alt="contacto">
            <a class="hidden sm:block ml-1" href="#">Contacto</a>
        </div>
    </nav>
</header> 