<section class="h-auto mb-10 p-3 flex flex-col lg:flex-row lg:items-center">
    <article class="grow-0 p-2 flex justify-center">
        <img class="w-40 rounded-full border-2 border-zinc-200" src="/img-user.webp" alt="candido-dev">
    </article>
    <article class="grow flex flex-col items-center">
        <h1 class="text-slate-800 font-extrabold text-5xl text-center p-1 mb-3">
            ¡Hola! Soy Candido Hernández
        </h1>
        <p class="text-slate-700 font-medium text-3xl p-1 mb-1">
            ¡Bienvenid@ a mi esquina virtual!
        </p>
        <p class="text-slate-700 font-medium text-xl mb-1">
            Ing. Informática | Desarrollador web
        </p>
        <div class="w-full h-12 flex justify-center m-5">
            <a class="flex px-12 mx-3 bg-sky-600 rounded-full" href="mailto:candidohm99@gmail.com">
                <span class="flex items-center text-white">Contáctame</span>
            </a>
            <!-- <button class="px-12 mx-3 bg-sky-600 text-white rounded-full">
                Contáctame
            </button> -->
            <button class="px-12 mx-3 rounded-full border border-slate-800 text-slate-700">
                Descargar CV
            </button>
        </div>
    </article>
    
</section>