<section class="h-auto py-3 flex flex-col md:flex-row">
    <article class="grow-0 bg-indigo-500">
        aqui va la img
    </article>
    <article class="grow bg-orange-500">
        aqui va ir la información
    </article>
    
</section>