---
import portfolio from '../data/portfolio.json';
import About from "./About.astro";
import BtnCv from "./BtnCv.astro";

const { about } = portfolio.dataPortfolio;
---
<section id="sobre-mi" class="h-auto mb-20 p-5 sm:p-3 flex flex-col lg:flex-row-reverse lg:items-center mt-20 lg:mt-32">
    <div class="p-2 flex justify-center lg:w-1/4">
        <img class="w-44 h-44 rounded-full border-2 border-zinc-200 dark:border-neutral-700 aspect-auto" 
        src={about.imgUser} alt="candido-dev">
    </div>
    <div class="flex flex-col lg:w-3/4">
        <h1 class="text-slate-800 text-center lg:text-start dark:text-neutral-200 
            font-bold text-5xl mb-3">
            ¡Hola! Soy {about.name}
        </h1>
        <p class="text-slate-700 text-center lg:text-start dark:text-neutral-300 
            font-medium text-2xl mb-3 md:mb-1">
            ¡Bienvenid@ a mi esquina virtual!
        </p>
        <p class="text-slate-700 text-center lg:text-start dark:text-neutral-300 
            font-medium text-xl mb-3 md:mb-1">
            {about.role}
        </p>

        <About />

        <div class="w-full flex flex-col sm:flex-row py-3">
            <a class="p-3 sm:mr-5 text-center bg-sky-700 text-white border border-sky-700 
                hover:bg-transparent hover:border-sky-700 hover:text-zinc-900 dark:hover:text-zinc-300 rounded-full" 
                href="mailto:candidohm99@gmail.com">
                <p class="sm:mx-5">
                    Contáctame
                </p>
            </a>
            <BtnCv />
        </div>
    </div>
</section>