<section class="flex flex-col">
    <h2>Proyectos</h2>
    <article class="flex flex-row">
        <div class="">
            Proyecto Uno
        </div>
        <div class="">
            Proyecto Dos
        </div> 
    </article> 
</section> 