
<div class="inline-flex items-center">
    <button class="w-6 h-6 bg-[url(/icon-light.svg)] dark:bg-[url(/icon-dark.svg)] dark:invert
      bg-contain bg-no-repeat px-1 py-1" id="themeSwitch"  aria-label="toggleTheme">
    </button>
  </div>

<style>
    :global(.dark) {
      color-scheme: dark;
    }
</style>  
  
  <script>
    const themeButton = document.getElementById("themeSwitch");
    const theme = localStorage.getItem("theme");
    const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  
    if (theme !== null) {
      document.documentElement.classList.remove("light", "dark");
      document.documentElement.classList.add(theme);
    } else {
      document.documentElement.classList.add(systemTheme);
    }
  
    function updateTheme(newTheme: any) {
      document.documentElement.classList.remove("light", "dark");
      document.documentElement.classList.add(newTheme);
      localStorage.setItem("theme", newTheme);   
    }
  
    themeButton?.addEventListener("click", () => {
      const currentTheme = localStorage.getItem("theme");
      const newTheme = currentTheme === "dark" ? "light" : "dark";
      updateTheme(newTheme);
    });
  </script>
